<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Sexe</th>
      <th scope="col">Langage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of dataList">
      <th scope="row"> {{ person.id }} </th>
      <td> {{ person.name }} </td>
      <td> {{ person.email }} </td>
      <td> {{ person.sexe }} </td>
      <td> 
        <table class="table">
          <thead>
            <tr>
              <th>Angular</th>
              <th>Golang</th>
              <th>Python</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let langage of person.langage">
              <th> {{ langage.angular }} </th>
              <td> {{ langage.golang }} </td>
              <td> {{ langage.python }} </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>

</table>

